.App {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    /* background-image: url(images/tic-tac-toe.png); */
    background-color: #EBF5FB;  
    padding: 50px;
    
  }
  
  .BodyText {
      /* display: flex; */
      justify-content: center;
      /* position: absolute; */
      width: 60%;
      /* right: 0; */
      float: left;
      margin: auto;
      /* background-image: url(images/tic-tac-toe.png); */
      /* background-image: url(images/doodles.png); */
      /* background-image: url(images/congruent_pentagon.png); */
      /* background-image: url(images/Margo.png); */
      /* background-color: #EBF5FB;   */
      /* background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;     */
  }
  
  .Example {
      border-style: solid;
      border-color: coral;
  }
  
  .CodeBlock {
      background: #ffffff; 
      overflow:auto;
      width:auto;
      /* border:solid gray; */
      border: solid #a7cbe2;
      border-width:.1em .1em .1em .8em;
      padding:.2em .6em;
  }
  
  .CodeBlock pre {
      margin: 0;
      line-height: 125%;
  }
  