
.App {
    display: flex;
    justify-content: center;
    background-color: #EBF5FB;  
    padding: 50px;
}
  
.AllText {
    justify-content: center;
    width: 60%;
    float: left;
    margin: auto;
}
  
/* Example games */
.Example {
    border: 4px solid #cbe2a7;
    background-color: #a7cbe2;
    padding: 12px;
}
  
/* Code blocks */
.CodeBlock {
    background: #ffffff; 
    overflow:auto;
    width:auto;
    border: solid #a7cbe2;
    border-width:.1em .1em .1em .8em;
    padding:.2em .6em;
}
  
.CodeBlock pre {
    margin: 0;
    line-height: 125%;
}

/* Walkthrough diagram */
img {
    border: 4px solid #a7cbe2;
    border-radius: 4px;
    padding: 2px;
}

/* Demo input */
.inputNumbersText {
    font-family: "Arial Black", Gadget, sans-serif;
    font: 32px bold;
    text-align: center;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 4px solid #a7cbe2;
}

.inputNumbersWrap {
    display:inline-block;
}

/* Order Toggle */
.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ANY";
    padding-left: 10px;
    background-color: #e2d9a7; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "EXACT";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/* Solver demo */
.solverDemo {
    border: 2px solid #d0a7e2;
    padding: 20px;
    width: 100%;
    background-color: #a7e2bd;
}

/* Buttons */
.buttonPurple {
    background-color: #e2bba7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 24px;
}

.buttonExample {
    background-color: #e2bba7;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 18px;
}

