.App {
    display: flex;
    justify-content: center;
    background-color: #EBF5FB;  
    padding: 50px;
}
  
.BodyText {
    justify-content: center;
    width: 60%;
    float: left;
    margin: auto;
}
  
.Example {
    border: 4px solid #cbe2a7;
    background-color: #a7cbe2;
    padding: 12px;
}
  
  .CodeBlock {
      background: #ffffff; 
      overflow:auto;
      width:auto;
      /* border:solid gray; */
      border: solid #a7cbe2;
      border-width:.1em .1em .1em .8em;
      padding:.2em .6em;
  }
  
  .CodeBlock pre {
      margin: 0;
      line-height: 125%;
  }

  img {
    border: 4px solid #a7cbe2;
    border-radius: 4px;
    padding: 2px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  input:checked + .slider {
    background-color: #cbe2a7;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #cbe2a7;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }


  .inputNumbersText {
    font-family: "Arial Black", Gadget, sans-serif;
    font: 32px bold;
    text-align: center;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 4px solid #a7cbe2;
  }

  .inputNumbersWrap {
    display:inline-block;
  }




.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ANY";
    padding-left: 10px;
    background-color: #cbe2a7; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "EXACT";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.solverDemo {
    border: 2px solid black;
    padding: 20px;
    width: 100%;
}

.buttonPurple {
    /* background-color: #d0a7e2; */
    background-color: #e2bba7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 24px;
  }

  .buttonExample {
    background-color: #e2bba7;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 18px;
  }